* {
  margin: 0;
  padding: 0;
}
:root {
}
#main {
  background: radial-gradient(
      circle,
      rgba(9, 121, 52, 0.5) 0%,
      rgba(255, 0, 0, 0.5) 0%,
      rgba(9, 121, 52, 0.5) 61%
    ),
    url(../images/7th_march.jpg) center center/cover no-repeat;
}
#header {
  color: #c9f227;
  text-align: center;
}
#heading {
  padding-top: 40px;
}
#sub-heading {
  padding: 0;
}

.image {
  height: 400px;
}
